.comingsoon{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 100;
    .blackScreen{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        background: black;
        opacity: 0.1;
    }
    .banner{
        position: absolute;
        //display: flex;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: wheat;
        background-image: url('../assets/images/mc-banner.jpg');
        background-position: 50% 50%;
        background-size: cover;
        .titleWrapper{
            
        }
        h1.title{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 45%; left:50%;
            margin: 0;
            font-size: 105px;
            text-align: center;
            font-family:  Helvetica, Arial, sans-serif;
            color: white;
            font-weight: bolder;
            &.shadow{
                color: black;
                opacity: 0.4;
                margin-left: 2px;
                margin-top: 2px;
            }
        }
        .subtitle{
            position: absolute;
            transform: translate(-50%, -50%);
            margin-top: 95px;
            top: 45%; left:50%;
            h2{
                font-size: 25px;
                color: white;
                font-weight: normal;
                text-shadow: 1px 1px #4e4e4e;
            }
        }
        footer{
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            h3{
                font-size: 10px;
                color: #222222;
            }
        }
    }
    
}