#about.section
    .bg
        img.left(src="./assets/images/header-figure-one.png")
        img.right(src="./assets/images/header-figure-two.png")
        img.lower(src="./assets/images/background-figure-one_2.png")
    h1.intro <b>Living Art</b> partners with healtcare providers through the <b>Magical&nbsp;Child Augmented Reality Experience</b><br>enhancing the circle of&nbsp;care.
    
    .experience
        .wrapper
            h1.title art + technology + health
            img(src="./assets/images/igual.png")
            h1.subTitle
                b The Magical Child AR Experience
            h3 An Augmented Reality App designed for children in hospitals and treatment centers.