.comingsoon
    .banner
        .blackScreen
        .titleWrapper
            h1.title.shadow Coming Soon
            h1.title Coming Soon
        .subtitle
            h2 Powered by Augmented Island Studios

        footer
            h3 All rights reserved to Living Art Project Copyright 2019