#howitworks.section
    .copy
        h1.title 
            b Here's how it works:

    .steps
        .bg
            img.right(src="./assets/images/background-figure-two.png")
        .step.step-1
            .index
                img(src="./assets/images/uno.png").number
            .wrapper
                .image
                    img(src="./assets/images/step-1.png")
                p.description.
                    Brought to life with augmented reality technology, the artwork invites the child to leap into a magical world
            .bottomLine
        .step.step-2
            .index
                img(src="./assets/images/dos.png").number
            .wrapper
                .image
                    img(src="./assets/images/step-2.png")
                p.description.
                    Patients can use the App in bed while they rest
            .bottomLine
        .step.step-3
            .index
                img(src="./assets/images/tres.png").number
            .wrapper
                .image
                    img(src="./assets/images/step-3.png")
                p.description.
                    Open the app and point the smart device towards the Magical Child artwork
            .bottomLine
        .step.step-4
            .index
                img(src="./assets/images/cuatro.png").number
            .wrapper
                .image
                    img(src="./assets/images/step-4.png")
                p.description.
                    Tap specific animals and watch them come to life in 3D augmented animation
            .bottomLine

        .step.step-5
            .index
                img(src="./assets/images/cinco.png").number
            .wrapper
                .image
                    img(src="./assets/images/step-5.png")
                p.description.
                    A hidden artistic world comes alive at the patient's fingertips offering a fun and meditative reprieve from stress
            .bottomLine