doctype html
html(lang="en")
	head
		title LIVING ART PROJECT
		link(href='./css/style.css', rel='stylesheet')

	body
		include nav
		.content-wrapper
			section
				include about
			section
				include meetki
				include howitworks
			section
				include team
				include contact
			footer
				p COPYRIGHT &copy; Living Art, Inc. - 2019

		script(src="./js/index.js")