.magicalChildBanner
    img.banner(src="./assets/images/mc-banner-noalpha.png")
    p.banerDescription.
        The Magical Child art series emphasizes nature, play and discovery.  Each art piece is hand drawn by artist Lindsay Carron designed to alleviate stress associated with hospital stays.

#meetki.section
    h1.title
        b Meet Ki!
    h3 Ki is our interactive guide welcoming children into the creative world of Magical Child.
    .wrapper
        .kiDescription
            h3 A smiley-faced sun, <br> captivating globe <br> playful dolphins, <br>and enchanting pines.
        
        .kiRender
            img(src="./assets/images/ki-render.png")

    .copy
        p Ki is our interactive host welcoming&nbsp;children&nbsp;into...
        h1
            b The creative world of Magical&nbsp;Child
    