nav.navbar
    a.title(href="#")
        img(src="./assets/images/living-art-logo.svg")
    a(href="#about") About
    a(href="#meetki") Meet Ki
    a(href="#howitworks") How it works
    a(href="#team") Team
    a(href="#contact") Contact
