.messageBanner
    .message
        h1.title
            b The Future of Art Therapy
        h3 Nurturing, fun and rewarding experience for child and caregiver alike.
    
#team.section
    .peopleWrapper
        h1.title
            b The Living Art Team
        .wrapper
            .people
                h1 Cindy Starry
                h3 CEO and Founder
                img(src="./assets/images/team-cindy.png")
                p.description.
                    As an Integrative Medicine practitioner for over 20 years, Cindy Starry innovates healthcare through the combination of art and technology.  She facilitates creative and nurturing patient and caregiver experiences that reach beyond the hospital walls.

            .people
                h1 Lindsay Carron
                h3 Artist
                img(src="./assets/images/team-lindsay.png")
                p.description.
                    Lindsay travels around the world to bring magical experiences to life with her drawings that remind us all of the life-giving beauty of our earth.
        